<center>
	<br/>
	<h2>The easiest way to author, publish, and copyright documents online.</h2>
</center>

<br/>

<p id="notice"><%= notice %></p>

<table><tr><td>
<h2>Create New Page</h2>
<%= render 'form' %>
<br/>
<h2>Goto Existing Page</h2>
<div id="generalform">
<%= form_tag(:controller=>"pages", :method=>:get) do |f| %>
  <div class="field">
	<label for="pagename">Page name:<br/>
      <%= text_field("page", "pagename") -%>
  </div>
  <div class="actions">
    <p><%= submit_tag "submit" %></p>
  </div>
<% end %>
</div>
</td>
<td valign="top">
	<h2>List of recently created public docs</h2>
	<% @pages.each do |page| %>
		<p><%= link_to page.pagename, "/" + page.pagename %> (<%= page.pagetitle %>)
	    <%= page.pagebody[0..150] %>...</p>
	<% end %>
	
</td></tr></table>