<p id="notice"><%= notice %></p><br/>
<center>
	<div id="generalform">
	<%= form_tag(:action => "authenticate") do %>

		<%= hidden_field :pages, :pagename, :value => params[:pagename] %>

		<p><label for="password">Please enter your password to edit the page<br/><br/>
	  	<%= password_field("pages","password") -%>
	  	</label>

	    <%= submit_tag "Login" %></p>
	<% end %>
	</div>
</center>